@model IEnumerable<FuncionesLinq.Models.Inscritos>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<hr />
<h1 class="text-danger">@ViewBag.msgAlumnos</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Addby)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idalumno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idcurso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaAdd)
            </th>
            
        </tr>
    </thead>
    <tbody>
@if(ViewBag.listaInscritos != null){

    @foreach (var item in ViewBag.listaInscritos) {
            <tr>
                <td>
                    @item.administrador_
                </td>
                <td>
                    @item.alumno_
                </td>
                <td>
                    @item.cursos_
                </td>
                <td>
                    @item.status_ 
                </td>
                <td>
                    @item.fecha_
                </td>
@*                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>*@
            </tr>
    }
}
    </tbody>
</table>
